[submodule "payloads/pneuma"]
	path = payloads/src/pneuma
	url = git@github.com:preludeorg/pneuma.git
[submodule "payloads/nicodemus"]
	path = payloads/src/nicodemus
	url = git@github.com:preludeorg/nicodemus.git
