[submodule "payloads/src/pneuma"]
	path = payloads/src/pneuma
	url = git@github.com:preludeorg/pneuma.git
	update = merge
	checkout = master
[submodule "payloads/src/nicodemus"]
	path = payloads/src/nicodemus
	url = git@github.com:preludeorg/nicodemus.git
[submodule "payloads/src/headless"]
	path = payloads/src/headless
	url = git@github.com:preludeorg/operator.git
[submodule "payloads/src/plugins"]
	path = payloads/src/plugins
	url = git@github.com:preludeorg/plugins.git
